.root {
    -fx-background-color: #a79ea5;
}

.button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 4em; /* 12 */
}

.options {
    -fx-background-image: url('/img/Options.png');
    -fx-background-size: cover;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 4em; /* 12 */
}

.warning-button {
    -fx-text-fill: #990000;
}

.warning-text {
    -fx-text-fill: #e60000;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 4em;
    -fx-background-color: transparent;
}

.grid {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.label {
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 4em;
    -fx-text-fill: #4f484d;
    -fx-background-color: transparent;
}

.label-small {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 3em;
    -fx-text-fill: #4f484d;
    -fx-background-color: transparent;
}

.text-field {
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 4em;
}

.toggle-button {
    -fx-background-image: url('/img/Unfavourite.png');
    -fx-background-size: cover;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 4em; /* 12 */
}

.toggle-button:selected {
    -fx-background-image: url('/img/Favourite.png');
    -fx-background-size: cover;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 4em; /* 12 */
}
